 
 <!-- Footer Section Start -->
    <footer>
	
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-abdf666f-7fe0-4c8f-a1ac-214f787e6932"></div>
    	<!-- Footer Area Start -->
    	<section class="footer-Content" style="background: url(assets/img/leaf.jpg)">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					  <div class="widget">
						<h3 class="block-title">About US</h3>
						<div class="textwidget">
						  <p><strong>Eswatini Herbal Solutions</strong> is a virtual pharmacy that sells natural/traditional medicine for treating sicknesses and to resolve spiritual or ancestral problems.
						  Currently, clients can just get <strong>registered</strong>, <strong>login</strong>, select a <strong>product</strong> and place an <strong>order</strong>. You will be contacted about your order to 
						  discuss delivery arrangements. We normally deliver in Manzini. <a href = "/about-us"><span class = "badge">Read more...</span></a>
				
					</div>
              </div>
          </div>
			
			
    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    		   <div class="widget">
               <h3 class="block-title">Contact Details</h3>
                    <div class="textwidget">
							<p>ESWATINI HERBAL SOLUTIONS (Pty) Ltd<br>
							P.O.BOX 5489<br>
							MANZINI ESWATINI<br><br>
							<abbr title = "Phone">Phone:</abbr> +268  78 609944 <i class = "fa fa-phone"></i><br>
							
							<abbr title = "Email">Email Address:</abbr> info@eswatiniherbalsolutions.com <i class = "fa fa-envelope"></i><br>
							</p>
                </div>
              </div>
			  
			     <div class="widget">
                     <br>
					 <img alt="Product Image" src="assets/img/momo.jpg" class = "img-responsive" width = "60px" height = "60px">
                 </div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
    		   <div class="widget">
				<h3 class="block-title">USEFUL LINKS</h3>
  				<ul class="menu">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/signup">Register</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/signin">Login</a></li>
                  <li><a href="/dashboard">Your Profile</a></li>
				  <li><a href="/treatment"><span class = "label" style= "background: #3498DB"><i class = "lnr lnr-leaf"></i> Nutrition</span></a></li>
				  <li><a href="/wealth"><span class = "label" style= "background: #3498DB"><i class = "lnr lnr-diamond"></i> Wealth</span></a></li>
				  <li><a href="/relations"><span class = "label" style= "background: #3498DB"><i class = "lnr lnr-heart"></i> Relations</span></a></li>
				  <li><a href="/traditional-doctors"><span class = "label" style= "background: #3498DB"><i class = "lnr lnr-magic-wand"></i> Bogogo</span></a></li>
                </ul>
    		   </div>
    		</div>
			
    		<div class="col-md-3 col-sm-6 col-xs-12">
    			<div class="widget">
    				<h3 class="block-title">Available In Stock</h3>
						<ul class="featured-list">
						  <li>
							<img alt="Product Image" src="/assets/img/product/cure.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/treatment"><span></span></a>
							</div>
						  </li>
						  <li>
							<img alt="Product Image" src="/assets/img/product/vukautimele.jpg" class = "img-responsive">
							<div class="hover">
							 <a href="/treatment"><span></span></a>
							</div>
						  </li>
						  <li>
							<img alt="Product Image" src="/assets/img/product/guleni.jpg" class = "img-responsive">
							<div class="hover">
							 <a href="/treatment"><span></span></a>
							</div>
						  </li>
						  <li>
							<img alt="Product Image" src="assets/img/product/extras/sigila-batsakatsi.jpg" class = "img-responsive">
							<div class="hover">
							<a href="/wealth"><span></span></a>
							</div>
						  </li>
						  <li>
						   <img alt="Product Image" src="assets/img/product/love/wozawoza.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/wealth"><span></span></a>
							</div>
						  </li>
						    <li>
							<img alt="Product Image" src=" assets/img/product/extras/sihlati-semadloti.jpg" class = "img-responsive">
							<div class="hover">
							<a href="wealth"><span></span></a>
							</div>
						  </li>
						  
						  <li>
							<img alt="Product Image" src="assets/img/product/love/ingezo-yetimanga.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/relations"><span></span></a>
							</div>
						  </li>
						  <li>
						   <img alt="Product Image" src="assets/img/product/love/small-wozawoza.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/relations"><span></span></a>
							</div>
						  </li>
						  <li>
							<img alt="Product Image" src="assets/img/product/wealth/mafutha-wemali.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/wealth"><span></span></a>
							</div>
						  </li>  
						  <li>
							<img alt="Product Image" src="assets/img/product/umhlabelo.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/treatment"><span></span></a>
							</div>
						  </li>
						  <li>
							<img alt="Product Image" src="assets/img/product/wealth/nomphumelelo.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/wealth"><span></span></a>
							</div>
						  </li>
						    <li>
							<img alt="Product Image" src="assets/img/product/love/bhekamina.jpg" class = "img-responsive">
							<div class="hover">
							  <a href="/relations"><span></span></a>
							</div>
						  </li>
						</ul> 						
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- Footer area End -->
    	
    	<!-- Copyright Start  -->
    	<div id="copyright">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
						  <div class="site-info pull-left">
							 <p>All copyrights reserved @ 2022 - Eswatini Herbal Solutions (Pty) Ltd | Developed & Managed By: Z.D.D. <i class = "fa fa-whatsapp"> <i class = "fa fa-phone"></i></i> +268 <span class = "badge">78127625</span></p>
						  </div>    					
						  <div class="bottom-social-icons social-icon pull-right">  
							 <a class="facebook" target="_blank" href="https://www.facebook.com/Eswatini-Herbal-Nutrition-103839084761751/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a> 
							 <a class="twitter" target="_blank" href="https://www.twitter.com/Dlizzi3"><i class="fa fa-twitter"></i></a>
							 <a class="linkedin" target="_blank" href="http://wwww.twitter.com"><i class="fa fa-linkedin"></i></a>
						  </div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<!-- Copyright End -->

    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
      
	  <!-- Main JS  -->
	  
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/material.min.js"></script>
    <script type="text/javascript" src="assets/js/material-kit.js"></script>
    <script type="text/javascript" src="assets/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
	<script type="text/javascript" src="assets/js/script"></script>
    <script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/jasny-bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>
	

	
	<!-- JavaScript Includes -->
 <!-- Footer Section Start -->   
   				

   
